:root {
    --orange: #FF7931;
    --black: #000000;
    --white: #FFFFFF;
    --light-gray: #F9F9FC;
    --dark-gray: rgba(0, 0, 0, 0.7);
    --light-gray: rgba(0, 0, 0, 0.3);
}

body {
    font-family: "Playfair Display", Arial, Arial, Helvetica;
}

.container {
    max-width: 1480px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.header {

}

.head__title {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 46px;
    font-size: 35px;
    letter-spacing: 1px;
}

.nav {
    display: flex;
    justify-content: center;
    margin-bottom: 47px;
}

.nav__list {
    list-style-type: none;
    display: flex;
    gap: 49px;
}

.nav__item {

}

.nav__link {
    font-size: 15px;
    letter-spacing: 2px;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: var(--black);
}

.section__image {
    background: url(asstets/Hotel-11.png) no-repeat center center/cover;
    width: 100%;
    height: 464px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new {
    margin-top: 62px;
    font-size: 16px;
    letter-spacing: 2px;
    color: var(--white);
    padding: 5px 16px;
    text-transform: uppercase;
    background-color: var(--orange);
    font-family: "Raleway", sans-serif;
}

.slider__title {
    line-height: 80px;
    font-size: 64px;
    letter-spacing: 6.5px;
    color: var(--white);
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 42px;
}

.slider__destionation {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 55px;
}

.slider__prev::after {
    width: 64px;
    height: 2px;
    background-color: var(--white);
    position: absolute;
    content: '';
    left: 91px;
    top: 50%;
    cursor: pointer;
}

.slider__prev, .slider__next {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    color: var(--white);
    font-size: 13px;
    font-family: "Raleway", sans-serif;
    position: relative;
}

.slider__divider {
    width: 2px;
    height: 42px;
    background-color: var(--white);
    position: relative;
}

.slider__divider::before {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid var(--white);
    position: absolute;
    content: '';
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.slider__divider::after {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--white);
    position: absolute;
    content: '';
    top: 10px;
    left: 10px;
    position: absolute;
    cursor: pointer;
}

.slider__next::before {
    width: 64px;
    height: 2px;
    background-color: var(--white);
    position: absolute;
    content: '';
    left: 74px;
    top: 50%;
    cursor: pointer;
}

.slider__text {
    max-width: 456px;
    font-size: 14px;
    line-height: 150%;
    color: var(--white);
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin-bottom: 48px;
}

.content__wrapper {
    display: grid;
    grid-template-columns: 8fr 4fr;
    column-gap: 31px;
}

.main {

}

.aside {

}

.news__section {

}
.news__list {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: repeat(3, .33fr);  /* Задайте высоту строк автоматически, чтобы не фиксировать её */
    column-gap: 30px;
    row-gap: 31px;
}

.news__list-item {
    display: grid;
    grid-template-columns: 127px 1fr;
    row-gap: 31px;
    column-gap: 12px;
}

.news__list-image {
    width: 100%;
    object-fit: cover;
}

.news__list-item:nth-child(1) .news__list-image {
    height: 100%;
    grid-column: 1/3;  /* Это изображение занимает всю ширину, растягивая элемент */
}

.news__list-item:nth-child(1) {
    height: 334px;
    grid-row: 1/-1;
}

.news__list-title {
    /* Оформление заголовка */
}

.news__list-text {
    /* Оформление текста */
}

.news__list-item:nth-child(1) {
    position: relative;
}

.news__list-item:nth-child(1) .news__list-title {
    position: absolute;
    bottom: 50px;
    left: 10px;
    font-family: "Raleway", sans-serif;
}

.news__list-item:nth-child(1) .news__list-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-family: "Raleway", sans-serif;
}

.news__list-item:nth-child(2) {
    position: relative;
}

.news__list-item:nth-child(2) .news__list-title {
    position: absolute;
    top: 10px;
    left: 139px;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
}

.news__list-item:nth-child(2) .news__list-text {
    position: absolute;
    top: 60px;
    left: 139px;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
}


.news__list-item:nth-child(3) {
    position: relative;
}

.news__list-item:nth-child(3) .news__list-title {
    position: absolute;
    top: 0;
    left: 139px;
    font-size: 14px;
    line-height: 18px;
    font-family: "Raleway", sans-serif;
}

.news__list-item:nth-child(3) .news__list-text {
    position: absolute;
    top: 58px;
    left: 139px; 
    font-family: "Raleway", sans-serif;
}

.news__list-item:nth-child(4) {
    position: relative;
}

.news__list-item:nth-child(4) .news__list-title {
    position: absolute;
    top: 0;
    left: 139px;
    font-size: 14px;
    line-height: 18px;
    font-family: "Raleway", sans-serif;
}